body{
    background-color: gray;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#innerdiv{
    display: inline-block;
    background-color: blue;
}

