body{
    background-color: white;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls{
    display: inline-block;
    background-color: blue;
    margin-bottom: 5vh;
}
#video{
    width: 36vw;
    height: 36vh;
    margin-bottom: 2vh;
}

video{
    display: inline-block;
    width: 35vw;
    height: 35vh;
}

